body,html{
    box-sizing: border-box;
}

header{  
    display: flex;  
    justify-content: space-around;
    background-color: rgb(131, 194, 36);
    color: white;
    padding: 10px;
}

nav{
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

header img{
    max-width: 10%;
}

body{
    background-color: rgb(212, 196, 196);
    

}