body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: rgb(102, 151, 28);
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 60px;
}

section {
    flex: 1;
    margin-right: 20px;
}

section form {
    margin-bottom: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.producto {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 23%;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.producto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.producto h3 {
    margin: 10px 0;
    font-size: 16px;
    color: rgb(102, 151, 28);
}

.producto p {
    font-size: 12px; 
    color: #333;
}

.producto:hover {
    transform: scale(1.05);
}

aside {
    width: 300px;
    flex-shrink: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 80px;
    align-self: flex-start;
}

aside form fieldset {
    border: none;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside form button {
    background-color: rgb(102, 151, 28);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

aside form button:hover {
    background-color: rgb(82, 121, 20);
}

footer {
    width: 100%;
    background-color: rgb(102, 151, 28);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}

nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margin */
    display: flex; /* Hace que los elementos de la lista se alineen en una fila */
}

nav ul li {
    margin-right: 20px; /* Espacio entre los elementos de la lista */
}

nav ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #000; /* Color del texto de los enlaces */
    font-weight: bold; /* Hace que el texto de los enlaces sea negrita */
}

nav ul li a:hover {
    color: #007BFF; /* Color del texto de los enlaces al pasar el ratón por encima */
}
